<section id="riscy_thoughts">
    <h2>Some RISC-Y thoughts (1/12/25)</h2>
    <p>
        The other day I was looking at what RISC V processors were
        available in the market (as one does) and I stumbled upon
        the Milk-V Duo. It costs $5. Granted, it is not a HPC chip,
        but the cheapness of it got me thinking: embedded devices
        aside, RISC V allows companies to produce processors without
        having to pay massive licensing fees to companies like
        Intel. And not only companies, individuals too.
    </p>
    <p>
        Maybe, in the future, there will be open source HDL
        implementations of RISC V cores that allow start-ups and
        hobbists alike to program FPGAs or tape out custom chips
        from companies like Atomic Semi (looking at you Sam Zeloof
        and Jim Keller). Perhaps specilized and modular hardware
        could be used to power cool edge applications, new AI chips,
        and maybe even a free and decentralized internet through
        transparent and trustworthy hardware.
    </p>
  </section>